---
import { getLink } from "../../utils";
import AboutCol from "./AboutCol.astro";
import { getCollection, getEntry } from "astro:content";

const before = await getEntry("homepage", "about/before")
const after = await getEntry("homepage", "about/after")
const offers = await getCollection("homepage", (e)=> e.slug.startsWith('about/offers/'))
---

<section
  class="w-full px-5 md:px-12 xl:px-20 space-y-10 lg:space-y-20 leading-tight flex flex-col justify-center items-center"
>
  <h2
    class="text-whitee font-Cormorant text-2xl md:text-5xl lg:text-6xl font-bold leading-7 lg:leading-tight"
    >
    {before.body}
    </h2>

    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
      {offers.map(({ body, data }) => (
        <AboutCol title={data.title}> 
            {body}
        </AboutCol>
      ))}
      
  </div>

  <!-- second div  -->
  <div
    class="text-supcream font-Cormorant text-2xl md:text-5xl lg:text-6xl font-bold leading-7 lg:leading-tight"
    >
    {after.body}
  </div>
  
  <div>
    <img src={getLink("/images/image2.png")} alt="image2" />
  </div>
</section>
