---
import AboutCol from "./AboutCol.astro";
---

<section
  class="w-full px-5 md:px-12 xl:px-20 space-y-10 lg:space-y-20 leading-tight flex flex-col justify-center items-center"
>
  <h2
    class="text-whitee font-Cormorant text-2xl md:text-5xl lg:text-6xl font-bold leading-7 lg:leading-tight"
  >
    As a highly intuitive Astrologer that combines Vedic and Western systems, I
    will help YOU discover the incredible wisdom the stars and planets hold; I
    will help you discover the Sun, Moon, and Stars
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    <AboutCol title="Kabbalah powered.">
      I've studied the Zohar so I know the different correspondences between
      difference planets within the Tree of Life. I study Hebrew and Aramaic.
    </AboutCol>
    <AboutCol title="I play Tarot.">
      I am an Adept in the Western Mystery schools. I know the esoteric Tarot in
      different systems, and I have studied Astrology in Chaldean, Babylonian,
      Hellenistic, and Vedic systems.
    </AboutCol>
    <AboutCol title="Infinite Readings.">
      I will give you infinite readings, if you have any questions for me
      anytime you are welcome to contact me, without cost to you. Most
      Astrologers won’t even bother to do a second reading for you.
    </AboutCol>
  </div>

  <!-- second div  -->
  <p
    class="text-supcream font-Cormorant text-2xl md:text-5xl lg:text-6xl font-bold leading-7 lg:leading-tight"
  >
    Receive complimentary readings for your own chart along with lifetime
    support for any questions you may have, providing you with security and
    confidence towards the future. There's no need for you to book a new reading
    with me.
  </p>

  <div>
    <img src="images/image2.png" alt="image2" />
  </div>
</section>
