---
import { getLink } from "../../utils";
import { getEntry } from "astro:content";

const { body: title, data } = await getEntry('homepage', 'hero')
const { btnSolidText, btnOutlineText, btnSolidLink, btnOutlineLink} = data 
const buttonOutline = {
  text: btnOutlineText,
  link: btnOutlineLink.startsWith('http') ? btnOutlineLink : getLink(btnOutlineLink) 
}
const buttonSolid = {
  text: btnSolidText,
  link: btnSolidLink.startsWith('http') ? btnSolidLink : getLink(btnSolidLink)
}

---

<section class="w-full mx-auto">
  <div class="relative">
    <img
      src={getLink("/images/bgimage.png")}
      alt="bgimage"
      class="max-h-[1080px]"
    />
    <div
      class="absolute top-0 left-0 bottom-0 right-0 flex flex-col items-center justify-center"
    >
      <h2
        class="text-whitee font-Cormorant text-[32px] sm:text-[48px] md:text-[64px] xl:text-[128px] font-bold"
      >
        {title}
      </h2>
      <div class="mt-4">
        <button
          onclick={`location.href= '${buttonSolid.link.startsWith('http') ? buttonSolid.link : getLink(buttonSolid.link)}'`}
          class="px-2 py-1 md:px-3 md:py-2 text-blackee hover:bg-transparent hover:text-lightyellow bg-lightyellow font-Montserrat text-sm md:text-xl font-medium border-[2px] border-lightyellow rounded-[10px]"
          >{buttonSolid.text}</button
        >
        <button
          onclick={`location.href= '${buttonOutline.link.startsWith('http') ? buttonOutline.link : getLink(buttonOutline.link)}'`}
          class="px-2 py-1 md:px-3 md:py-2 text-lightyellow hover:bg-lightyellow hover:text-blackee font-Montserrat text-sm md:text-xl font-medium border-[2px] border-lightyellow rounded-[10px] ml-[25px]"
          >{buttonOutline.text}</button
        >
      </div>
    </div>
  </div>
</section>
