---
import { getLink } from "../../utils";
---

<section class="w-full mx-auto">
  <div class="relative">
    <img src={getLink("images/bgimage.png")} alt="bgimage" />
    <div
      class="absolute top-0 left-0 bottom-0 right-0 flex flex-col items-center justify-center"
    >
      <h2
        class="text-whitee font-Cormorant text-[32px] sm:text-[48px] md:text-[64px] xl:text-[128px] font-bold"
      >
        Discover your life path
      </h2>
      <div class="mt-4">
        <button
          onclick={`location.href= '${getLink("/services")}'`}
          class="px-2 py-1 md:px-3 md:py-2 text-blackee hover:bg-transparent hover:text-lightyellow bg-lightyellow font-Montserrat text-sm md:text-xl font-medium border-[2px] border-lightyellow rounded-[10px]"
          >Book a Session</button
        >
        <button
          onclick={`location.href= '${getLink("/blog")}'`}
          class="px-2 py-1 md:px-3 md:py-2 text-lightyellow hover:bg-lightyellow hover:text-blackee font-Montserrat text-sm md:text-xl font-medium border-[2px] border-lightyellow rounded-[10px] ml-[25px]"
          >Check My Blog</button
        >
      </div>
    </div>
  </div>
</section>
