---
import { getCollection } from "astro:content";
import SectionTitle from "../../components/SectionTitle.astro";
import ServiceCard from "../../components/ServiceCard.astro";
const data = await getCollection("services")

---

<section class="px-5 md:px-12 xl:px-20 xl:px-0 space-y-10" id="services">
  <SectionTitle>Services</SectionTitle>
  <h5
    class="text-whitee font-Cormorant text-4xl md:text-5xl lg:text-6xl leading-tight font-bold text-center"
  >
    Check Out Your Options
  </h5>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-10 md:gap-4">
    {data
    .sort((a, b) => a.data.order - b.data.order)
    .map(({ data })=> (
      <ServiceCard {...data} />
    ))}
  </div>
</section>
