---
import SectionTitle from "../../components/SectionTitle.astro";
---

<section class="px-5">
  <SectionTitle>Testimonials</SectionTitle>
  <div class="max-w-screen-2xl mx-auto space-y-5">
    <p
      class="text-whitee font-Cormorant text-2xl md:text-5xl lg:text-6xl font-bold lg:leading-tight font-bold"
    >
      Dolores nobis aut consequatur excepturi nam dicta. Eos sit esse omnis ut.
      Quo ea eaque cupiditate officiis et provident iste. Voluptas eum iste
      ipsam eveniet impedit et recusandae quod.
    </p>
    <p
      class="text-whitee font-Montserrat text-xl md:text-2xl lg:text-3xl font-bold ng-tight font-normal"
    >
      Sarah M. - Celestial Member
    </p>
  </div>
</section>
