---
import PageLayout from "../layouts/PageLayout.astro";

const url = "https://jameswei.setmore.com/jameswei/services";
---

<PageLayout>
  <section class="">
    <iframe style="width: 100vw; height: 100vh" class="w-full h-full" src={url}
    ></iframe>
  </section>
</PageLayout>
