---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { title, description, keywords, className, footerProps } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} keywords={keywords} />
  </head>

  <body class="bg-blackee relative max-w-[100vw]">
    <div
      class="bg-blackee fixed top-0 left-0 right-0 flex items-center justify-center max-w-[100vw] w-full z-[99] h-[100px] md:h-[100px]"
    >
      <header class="max-w-full w-full md:max-w-screen-4xl mx-auto">
        <Navigation />
      </header>
    </div>

    <main
      class:list={[className]}
      class="relative mt-[100px] max-w-screen-4xl mx-[auto] min-h-[46vh]"
    >
      <slot />
    </main>

    <Footer {...footerProps} />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"
    ></script>
  </body>
</html>
